.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: #202020;
    box-shadow: 2px 2px 50px #000000;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    .library-title {
        padding: 2rem;
    }
}
.library-title{
    background-color: #272727;
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid whitesmoke;
        padding: 0.5rem;
        margin-left: 7rem;
        transition: all 0.3s ease;
        color: whitesmoke;
        opacity: 0;
        &:hover {
            background: rgba(250, 127, 244, 0.698);
            color: white;
        }
    }
    @media all and (max-width: 500px) {
        button {
          opacity: 1;
        }
      }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    img {
        width: 30%;
    }
    &:hover {
        background: rgb(82, 82, 82);
    }
    cursor: pointer;
}

.song-description {
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgba(231, 127, 250, 0.698);
}

.active-library{
    transform: translateX(0%);
    opacity: 1;
}

input {
    background: rgb(107, 105, 105);
    color:  pink;
    margin: 0 auto;
    float: none;
    width:100%;
    padding: 7px ;
    border: transparent;
    border-width:0px;
    border:none;
    outline:none;
  }

::placeholder{
    color: pink;
}

